{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <ul>
        {% for article in articles %}
            <a href="{% url 'article-detail' article.slug %}">
            <li>
                <div style="display:block;">{{article.title}}</div>
                <img src="{{ article.featured_image.url }}" alt="">
                <div style="display:block;">{{article.body}}</div>
            </li>
        </a>
        {% endfor %}
    </ul>

    <a href="{% url 'home-page' %}">go to link</a>
</body>
</html>